
  
  .item {
    flex-grow: 1;
    height: 100px;
  }
  
  .item {
    margin-left:5%;
    margin-right: 5%;
    margin-top: 125px;

  }

  .item {
    display:flex;
    align-content: space-evenly;
    height: 380px;
    width: 100px;
    border-radius: 3px;
    background-color: lightgreen;
    border: 2px solid darkslategray;
    box-sizing: border-box;
  }

.navbar {
  display:flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
  flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #616161;
  width: 650px;
  height: 37px;

  display:flex;
  align-content: space-evenly;
  color: white;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(147, 173, 167);
  border: 3px solid black;
  box-sizing: border-box;
}
.menu1 {
  flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #616161;
  width: 650px;
  height: 37px;
  display:flex;
  align-content: space-evenly;
  color: white;
  margin-left:5%;
  margin-right: 5%;
  margin-top: 12px;
  border-radius: 20px;
  background-color: lightslategray;
  border: 3px solid white;
  box-sizing: border-box;
}

.body {
  padding:0%;
  margin: 0%;
  background-image: url('../bilder/Image.png');
  background-size: cover;
}
.body2 {
  padding:0%;
  margin: 0%;
  background-image: url('../bilder/wallpaper3.jpg');
  background-size: cover;

}

.container {
  display:flex;
  align-content: space-evenly;
  align-content: center;
  flex-direction: row;
  margin-left:6%;
  margin-right:50%;
  margin-top: -350px;
  position: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item1 {
  display: flex;
  margin-top: 75%;
  color: white;
  font-size: 18px;
}

.item2 {
  display: flex;
  margin-top: 92%;
  color: white;
  font-size: 18px;
}

.item3 {
  display: flex;
  margin-top: 75%;
  color: white;
  font-size: 18px;

}
.item4{
  display: flex;
  margin-top: 90%;
  color: white;
}
.menu:hover {
  background-color: darkgray;
  color: black;
  font-size: 20px;
}
.item1:hover {
  @-webkit-keyframes hvr-pulse-grow 
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.item2:hover {
  @-webkit-keyframes hvr-pulse-grow 
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.item3:hover {
  @-webkit-keyframes hvr-pulse-grow 
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.footer{
  background-color: rgb(201, 196, 193);
  display: flex;
  position: fixed;
  left: 0;
  width: 80%;
  padding: 1px;
  height: 1px;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
  border-radius: 3px;
  margin-left: 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: lightgray;
}
.ftxt{
  font-family: 'Source Sans Pro', sans-serif;
}
.h1 {
position: absolute;
color: white;
right:40%;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

